body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredericka the Great", sans-serif;
  background-color: rgb(34, 34, 34);
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  color: rgb(238, 238, 238);
}

.container {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
}

#sketchpad {
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 7px rgba(1, 1, 1, 0.8));
}

.pixel {
  box-sizing: border-box;
  background-color: white;
}

#toolbox {
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 250px;
  height: 400px;
  font-family: "Times New Roman", serif;
  font-size: 20px;
  background-color: rgb(95, 116, 112);
  border-radius: 10px;
  filter: drop-shadow(0px 0px 7px rgba(1, 1, 1, 0.8));
}

#size-cont {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#size-cont .text {
  color: rgb(227, 218, 182);
  font-size: 25px;
  margin-bottom: 0;
}

#slider {
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
  background-color: rgb(227, 218, 182);
  height: 0.5rem;
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2vh;
  height: 2vh;
  background-color: rgb(245, 203, 92);
  border-radius: 60%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#color-cont {
  color: rgb(227, 218, 182);
  margin: 10px 0;
  font-size: 25px;
}

#color-picker {
  cursor: pointer;
  background-color: rgb(227, 218, 182);
  width: 100px;
}

#color-picker:active {
  background-color: rgb(245, 203, 92);
}

button {
  font: inherit;
  background-color: rgb(95, 116, 112);
  width: 200px;
  padding: 10px 20px;
  margin: 10px 0;
  color: rgb(227, 218, 182);
  border: 2px solid rgb(227, 218, 182);
  border-radius: 5px;
  cursor: pointer;
}

button:active,
input:active {
  transform: translateY(2px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
  background-color: rgb(75, 105, 99);
}

#clear-btn:active {
  background-color: rgb(75, 105, 99);
  color: red;
  border-color: red;
}

.enabled {
  color: rgb(245, 203, 92);
  border-color: rgb(245, 203, 92);
}

.flex-cont {
  display: flex;
}
